<!DOCTYPE html>
<html lang="en">
<head>
    <title>Приветик</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>

    ::placeholder {
    color: #9F9F9F;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 610px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;}
    }

input {
padding-left: 5px;
    border: 0px solid;
    border-radius: 10px;
    background-color: #222843;
}

.well {
    border: 0px;
    border-radius: 10px;
    background-color: #2d325a;
}

p {
  color: white;
}

h2 {
  color: white;
}

h4 {
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;


  </style>
</head>

<body>

<nav class="navbar navbar-inverse visible-xs">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"  href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Dashboard</a></li>
                <li><a href="#">Age</a></li>
                <li><a href="#">Gender</a></li>
                <li><a href="#">Geo</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" style="background-color: #222843">
    <div class="row content">
        <div class="col-sm-3 sidenav hidden-xs" style="background-color: #2f356a" >
            <h2 style="color: white">Coupon.</h2>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a style="background: #B400BD;" href="/">Dashboard</a></li>
                <li><a style="color: #B400BD;" href="/dataBase">Coupons base</a></li>
            </ul><br>
        </div>
        <br>

        <div class="col-sm-9">
            <div class="well">
                <h4>Dashboard</h4>
                <p>This is a dashboard where you can create coupons and activate them</p>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="well">
                        <h4>Used</h4>
                        <p>{{used}}</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well">
                        <h4>Unused</h4>
                        <p>{{unused}}</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well">
                        <h4>Total</h4>
                        <p>{{total}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="well">
                        <form method="post" action="createCoupon">
                            <h4>Create coupon</h4>
                            <input style="color: #ffffff" type="text" minlength="1" maxlength="18" name="description" placeholder="Description..."/>
                            <br>
                            <br>
                            <input type="submit" value="Create" style="background-color: #ffffff"/>
                        </form>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well" style="background: #B400BD;">
                        <form method="post" action="activateCoupon">
                            <h4 style="color: #ffffff">Activate coupon</h4>
                            <div class="center" style="border: none; border-bottom: 2px solid #ffffff;">
                                <input type="text" minlength="6" maxlength="6" name="code" placeholder="Code..." style="width: 100%; background: #B400BD; color: #ffffff"/>
                            </div>
                            <br>
                            <div class="center">
                                <input type="submit" value="Activate" style="width: 100%; background-color: #ffffff"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <well>
                    <div class="col-sm-2">
                        <img style="border-radius: 10px;" width="130;" src="{{image}}" alt="heart">
                    </div>
                </well>
                <div class="col-sm-4">
                    <div class="well">
                        <p style="color: #ffffff">{{message}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>